.room {
	text-align: center;
	font-size: 22px;
	border: 1px solid black;
}

.room.active, .room:active {
    background: #cecece;
    text-decoration: none;
}

.input-box {
	width: 300px;
	height: 50px;
	resize: none;
	vertical-align: middle;
}

#container {
	position: relative;
	display: flex;
	width:  80%;
	height: 500px;
	margin: auto;
	border: 2px solid black;
}

#chat {
	float: left;
	width: 75%;
	height: 100%;
}

#chat-rooms {
	float: left;
	flex-grow: 1;
	height: 100%;
	border-left: 2px solid black;
}

#input-area {
	position: relative;
	width: 100%;
	margin: 0 auto;
	text-align: center;
}